.login {

}

.loading {
	width: 240px;
	height: 120px;
	background: url('chrome-extension://__MSG_@@extension_id__/loading.gif');
	background-repeat: no-repeat;
}

.overview {
	width: 235px;
}

.graphs {
	width: 480px;
	height: 360px;
}